<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.stepatero.agentbeacon</string>
  <key>ProgramArguments</key>
  <array>
    <string>__BINARY_PATH__</string>
    <string>serve</string>
    <string>--config</string>
    <string>__CONFIG_PATH__</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Background</string>
  <key>ThrottleInterval</key><integer>10</integer>
  <key>WorkingDirectory</key><string>__APP_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key><string>__HOME__</string>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StandardOutPath</key><string>__LOG_DIR__/stdout.log</string>
  <key>StandardErrorPath</key><string>__LOG_DIR__/stderr.log</string>
</dict>
</plist>
